# CRAN packages
data.table
ggpubr
gridExtra
ggsci
ggtext
glue
IRkernel
invgamma
jsonlite
knitr
nipals
patchwork
pheatmap
remotes
reshape2
scales
tidyverse
umap
viridis
WGCNA

# Bioconductor packages
AnnotationDbi
affy
GEOquery
GO.db
hgu133acdf
hgu133plus2cdf
impute
limma
preprocessCore
variancePartition

# GitHub package: mwgrassgreen/RobNorm
RobNorm
